@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);



#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .nav-link {
  font-family: 'Droid Sans', sans-serif;
  font-size: 20px;
}
#menu-0 .navbar-brand {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
}
#menu-0 .nav-item .btn {
  font-size: 18px;
}
#header1-1 .btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
#header1-1 B {
  font-size: 46px;
}
#header1-1 P {
  color: #f1c050;
  text-align: center;
}

#ext_menu-f .navbar-toggler {
  color: #000;
}
#ext_menu-f .navbar-brand {
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
}
